body, html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, #2f2f2f 0%, #3c3c3c 50%, #2f2f2f 100%);
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
