body, html {
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(244,247,251,1) 50%, rgba(224,224,224,1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
